<%- include("templates/encabezado") %>
<%- include("templates/menu") %>
<h1>Modificar Usuario</h1>
<form action="/modificarUsuario" method="post" id="formulario">
    <div>
        <input type="text" name="nombre" id="nombre" placeholder="nombre" value=<%= usuario.nombre $ autofocus>>
        <span id="mensajeNombre"></span>
    </div>
    <div>
        <input type="text" name="usuario" id="usuario" placeholder="usuario" value=<%= usuario.usuario $>>
        <span id="mensajeUsuario"></span>
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="password" value=<%= usuario.password $>>
        <span id="mensajePassword"></span>
    </div>
    <div>
        <button type="submit">Guardar usuario</button>
    </div>
</form>
<%- include("templates/pie") %>